---
import Carrossel from "../components/Carrossel.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <h1>Bem-vindo à Inovar Guincho</h1>
    <p>Seu guincho 24h, rápido e eficiente.</p>
    <p>Estamos prontos para ajudá-lo em qualquer emergência!</p>
    <Carrossel />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
</style>
