---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>Nossos Serviços</h1>
  <ul>
    <li>Guincho leve</li>
    <li>Guincho pesado</li>
    <li>Serviço de resgate de veículos</li>
    <li>Atendimento em emergências e acidentes</li>
  </ul>
</Layout>
