<div class="container">
  <img
    src="/icons/android-chrome-192x192.png"
    alt="Inovar Guincho Logo"
    class="logo-inovar"
  />

  <a href="https://wa.me/5511948498385" target="_blank" class="whatsapp-link">
    <img src="/logo-whats.png" alt="Inovar Guincho Logo" class="logo-whats" />
  </a>
</div>

<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Responsividade para telas pequenas */
  @media (max-width: 600px) {
    .logo-inovar {
      height: 80px;
    }

    .logo-whats {
      height: 60px;
    }
  }
</style>
