---

---

<nav>
  <ul class="nav-items">
    <li><a href="/">Inicio</a></li>
    <li><a href="/servicos">Serviços</a></li>
    <li><a href="/contato">Contato</a></li>
    <li>
      <details class="dropdown">
        <summary> Mais </summary>
        <ul dir="rtl">
          <li><a href="/blog">Blog</a></li>
          <li><a href="/fotos">Fotos</a></li>
        </ul>
      </details>
    </li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
  }

  .nav-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .nav-items li {
    padding: 10px;
    text-transform: uppercase;
    color: black;
  }
</style>
